.square-button {
  width: 35px;
  height: 35px;
  background-color: var(--background-primary);

  border: none;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
  svg {
    color: var(--text-primary);
  }
}
