#header {
  width: 90vw;
  height: var(--header-height);
  margin: auto;

  transition: all 0.5s;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: var(--background-primary);

  .header-logo-container {
    height: fit-content;
    width: fit-content;
    grid-column-start: 1;

    display: flex;
    align-items: center;
    color: var(--text-primary);

    .header-logo {
      margin-right: 8px;
    }

    .header-logo-text {
      font-family: 'Rubik', sans-serif;
      font-weight: 600;
      font-size: 24px;
      color: var(--text-primary);
    }
  }

  #header-buttons {
    grid-column-start: 3;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }
}
