.rectangle-button {
  width: 35px;
  height: 35px;

  border: none;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  svg {
    height: 75%;
    width: 75%;
    pointer-events: none;
    margin-top: 3px;

    color: var(--text-primary);
  }
}
