.editor-page {
  height: calc(100vh - 60px);

  display: flex;
  background-color: var(--background-primary);
  transition: all 0.5s;
}

.editors-top {
  flex-direction: column;

  .editors-group {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;

    .editor {
      width: 32%;
      height: 100%;

      .cm-theme {
        width: 100%;
      }
    }
  }

  iframe {
    width: 100%;
    height: 50%;
  }
}

.editors-left {
  flex-direction: row;

  .editors-group {
    width: 50%;
    height: 100%;
  }

  iframe {
    width: 50%;
    height: 100%;
  }
}

.editors-right {
  flex-direction: row-reverse;

  .editors-group {
    width: 50%;
    height: 100%;
  }

  iframe {
    width: 50%;
    height: 100%;
  }
}
