@import '../../../shared/styles/mixins';

.output {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  @include dark-border(5px);

  &__header {
    width: 100%;
    position: relative;
    height: 40px;
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: var(--text-primary);
    box-sizing: border-box;

    @include rainbow-border(1px, 4px, 4px, 0px, 0px);
  }

  &__result {
    &_success {
      color: var(--color-green);
    }

    &_fail {
      color: var(--color-red);
    }
  }
}
