.dropdown-text-btn {
  &_wrapper {
    position: relative;
  }

  &__details {
    display: none;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;

    & > * {
      height: 35px;
      width: 35px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .active {
    display: flex;
    gap: 2px;
  }
}
