.square-button {
  background-color: var(--background-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
  svg {
    color: var(--text-primary);
  }
}
