@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
}

body {
  background-color: #0e0f11;
}

.App {
  transition: all 10s;
  background-color: var(--background-primary);
}

:root {
  --background-primary: #d7e3fc;
  --background-additional: #7b7d81;
  --background-bonus: #ccdbfd;
  --text-primary: #000;
  --text-additional: #e2eafc;
}

.text-heading {
  font-size: 25px;
}

[data-theme='dark'] {
  --background-primary: #0e0f11;
  --background-additional: #7b7d81;
  --background-bonus: #343d43;
  --text-primary: #fff;
  --text-additional: #37393d;
}
