.App {
  transition: all 10s;
}

:root {
  --background-primary: #1e2749;
  --background-additional: #273469;
  --background-transparent: #30343f;
  --text-primary: #fafaff;
  --text-additional: #e4d9ff;

  // #F15025
  // #FFFFFF
  // #E6E8E6
  // #CED0CE
}

.text-heading {
  font-size: 25px;
}

[data-theme="dark"] {
  --background-additional: #555;
  --background-transparent: #191e2a;
  --text-main: #000;
}
