@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home-page {
  width: 90vw;
  margin: auto;
  padding: 75px 0;

  &__hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    &__heading {
      margin: 0;

      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      font-size: 56px;
      color: var(--text-primary);
      text-align: center;
    }

    &__text {
      width: 35%;
      margin: 0 0 10px 0;

      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: var(--text-primary);
      text-align: center;
    }
  }
}
